body {
  background-color:rgba(38, 21, 65, 1);
  width:1139px;
}
text
{
	fill:#eeaa34;
	font-size:144px;
}
svg
{
	fill:url(#blue);
}

#questionBox {
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:0;
	width:1400px;
	height:280px;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
}
#questionBox *{
    grid-row-start: 1;
    grid-column-start: 1;
	padding:0;
}
#qText {
    font-family: Arial;
	color:rgba(255, 255, 255, 1);
	padding:3px 60px 6px 70px;
	font-size:40px;
	vertical-align: middle;
	text-align:left;
	word-wrap:break-word;
	line-height: normal;
	margin-left:100px;
}
.answer {
	position:absolute;
	width:800px;
	height:140px;
	line-height:90px;
	text-align:left;
	box-sizing:border-box;
	word-wrap:break-word;
	color:rgba(255, 255, 255, 1);
	transition: top 1s;
	left:50%;
	transform:translateX(-50%);
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
}
#answerA {
  top:310px;
}
#answerB {
  top:450px;
}
#answerC {
  top:590px;
}
#answerD {
  top:730px;
}
.answer *
{
	grid-row-start: 1;
    grid-column-start: 1;
	padding:0;
}
.answer p
{
	margin:0;
	padding-left:140px;
}
p
{
	color:white;
	font-size:54px;
}

#checker {
	position:absolute;
  left:1640px;
  top:400px;
	width:105px;
  height:102px;
  background:inherit;
  background-color:rgba(38, 21, 65, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(45, 34, 64, 1);
  color:#261541;
}
#revealer {
	position:absolute;
  left:300px;
  top:400px;
	width:105px;
  height:102px;
  background:inherit;
  background-color:rgba(38, 21, 65, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(45, 34, 64, 1);
  color:#261541;
}
#peopler {
	position:absolute;
  left:0px;
  top:0px;
	width:105px;
  height:102px;
  background:inherit;
  background-color:rgba(38, 21, 65, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(45, 34, 64, 1);
  color:#261541;
}
#questionNumber {
	border:0px;
	position:absolute;
	left:0;
	bottom:120px;
	width:120px;
	height:120px;
	display:flex;
	background-image:url('../../images/CircleCounter.png');
	background-repeat:no-repeat;
	background-size:120px 120px;
	background-position: left top;
	font-size:70px;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	line-height: 120px;
	font-family: Arial;
	color:rgba(255, 255, 255, 1);
}
#nextButton {
	border:0px;
	position:absolute;
	left:130px;
	bottom:120px;
	width:85px;
	height:85px;
	display:flex;
	background-image:url('../../images/Next.png');
	background-repeat:no-repeat;
	background-size:85px 85px;
	background-position: left top;
}
